.member {
  width: 250px;
  margin-right: 2%;
  margin-top: 2%;
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 15px;
  box-shadow: 5px 5px 20px;
}

.member:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px;
}

.member h2,
.member p {
  margin-top: 8px;
}
